body, html {
  height: 100%;
  min-height: 100%;
}

.straight-line {
  background-color: #F25353;
  height: 2px;
}

.sidebar {
  background-color: #737373;
  height: 100vh;
  padding: 40px;
}

.sidebar h1 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 200;
}

.sidebar p {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 10px;
  white-space: nowrap;
}

.sidebar a {
  color: #77cef7;
  border: 2px solid #77cef7;
  padding: 5px;
  border-radius: 3px;
}

.sidebar a:hover {
  color: #f7f277;
  border-color: #f7f277;
}

.sidebar hr {
  border: none;
  border-top: 1px dashed #8f8f8f;
  margin: 40px 0;
}

.sidebar .input-block {
  width: 100%;
  margin: 20px 0;
}

.input-block label {
  width: 100%;
  float: left;
  color: #e5e5e5;
}

.input-block .input-control {
  background-color: #494949;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 24px;
  border-radius: 5px;
  border: 3px solid #8f8f8f;
  outline: none;
  color: #fff;
  transition: all .1s ease-in-out;
  font-weight: 200;
  box-shadow: 0 1px 0 #494949;
  letter-spacing: 2px;
}

.input-block .input-control:hover,
.input-block .input-control:focus {
  border: 3px solid #fff;
  color: #fff;
}

.input-block textarea.input-control {
  height: 300px;
}

.quote {
  padding: 60px;
  padding-left: 0;
}

.quote .photo {
  width: 170px;
  max-width: 170px;
  min-width: 170px;
  float: left;
}

.quote .photo img {
  width: 170px;
  max-width: 170px;
  min-width: 170px;
  border-radius: 5px;
}

.quote .context {
  width: 100%;
  float: left;
}

.quote .context p {
  font-family: "Volkhov", serif;
  font-size: 2.4rem;
  line-height: 3rem;
  word-spacing: 0.4rem;
  font-style: italic;
}

.quote .context p:before,
.quote .context p:after {
  font-size: 4rem;
  position: relative;
  color: #e5e5e5;
  font-style: normal;
}

.quote .context p:before {
  content: '\201C';
  top: 10px;
}

.quote .context p:after {
  content: '\201D';
  top: 20px;
}

.quote .author {
  margin: 20px 0;
  text-align: right;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

.quote .author {
  color: #8f8f8f;
}

.quote .author a {
  color: #77cef7;
  border-bottom: 1px dashed #77cef7;
}

/*body {
  font-family: "Ek Mukta", sans-serif;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  color: #e74c3c;
}

h1 {
  font-family: "Comfortaa", serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.container p {
  font-size: 24px;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: justify;
}

.container hr {
  border: none;
  border-top: 1px solid #f2f2f2;
  margin: 60px 0;
}

.input-block {
  width: 100%;
  margin: 30px 0;
}

.input-block label {
  width: 100%;
  float: left;
  text-transform: uppercase;
}

.input-block input[type=text],
.input-block textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  letter-spacing: 2px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}

.input-block input[type=text]:focus,
.input-block textarea:focus,
.input-block input[type=text]:hover,
.input-block textarea:hover {
  border-color: #34495e;
  color: #34495e;
}

.user img {
  width: 100px;
  float: left;
}

.quote {
  margin-left: 25px;
  float: left;
  font-size: 24px;
}

.text {
  display: inline-block;
}

.quote .author {
  font-size: 13px;
}

.quote .author a {
  color: #3498db;
}*/